# Compiled Java
out/


# IntelliJ
.idea/workspace.xml
.idea/tasks.xml
.idea-out
.idea/.gitignore
.idea/gradle.xml
.idea/modules/
.idea/vcs.xml



# Common OS/Editor files
*~
._*

.DS_Store
.DS_Store?

Thumbs.db
ehthumbs.db
Desktop.ini

# analytics
.usage-database.db

#gradle
.gradle/
.project

#make generated
bin/
build/
deps/
gradle/
gradlew
gradlew.bat

